./notebooks/.ipynb_checkpoints/*
./cqt/__pycache__
./.idea/*
__pycache__
notebooks/Untitled2.ipynb
notebooks/Untitled.ipynb
notebooks/Untitled1.ipynb
notebooks/.ipynb_checkpoints/Untitled2-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
notebooks/.ipynb_checkpoints/examples_data_query_save_load-checkpoint.ipynb
